.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard-row:last-of-type {
    margin-bottom: 20px;
}